body{
    padding-bottom: 70px;
}
.main-subtitle {
    font-size: smaller;
}
.login-button{
    text-align: center;
}
.close-session-btn{
    padding: 2px;
    float: right;
}
#messageHolder{
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    height: 100px;
}
.channelRemove{
    float: right;
}
#requestNotificationButton{
    float: right;
}
.reloadrepo-btn{
    float: right;
}
.home {
    margin: 20px auto;
    width: 300px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    text-align: center
}

.view1 {
    width: 40%;
    float: left;
}
.view2 {
    width: 40%;
    float: right;
}